version: 1.0.{build}
branches:
  only:
    - main
skip_tags: true
image: Ubuntu2004
environment:
  CODECOV_TOKEN: CODECOV_TOKEN
build_script:
  - sh: >-
      set -e

      npm install --global @devcontainers/cli

      devcontainer build --workspace-folder .
test_script:
  - sh: >-
      set -e

      devcontainer up --workspace-folder .

      devcontainer exec --workspace-folder . pnpm lint

      devcontainer exec --workspace-folder . --remote-env CI=true pnpm test

      echo "Testing................................."
      echo ${#CODECOV_TOKEN}

      devcontainer exec --workspace-folder . --remote-env CODECOV_TOKEN=${CODECOV_TOKEN} pnpm codecov
