version: 1.0.{build}
branches:
  only:
    - main
skip_tags: true
image: Ubuntu2004
environment:
  CODECOV_TOKEN: CODECOV_TOKEN
  REPO_PROVIDER: REPO_PROVIDER
build_script:
  - sh: >-
      set -e

      npm install --global @devcontainers/cli

      devcontainer build --workspace-folder .
test_script:
  - sh: >-
      set -e

      devcontainer up --workspace-folder .

      devcontainer exec --workspace-folder . pnpm lint

      devcontainer exec --workspace-folder . --remote-env CI=true pnpm test

      devcontainer exec --workspace-folder . \
        --remote-env REPO_PROVIDER=${REPO_PROVIDER} \
        --remote-env PROJECT_SLUG=${APPVEYOR_REPO_NAME} \
        --remote-env CODECOV_TOKEN=${CODECOV_TOKEN} \
        pnpm codecov
