name: "Publish"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          cacheFrom: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          push: never
          runCmd: pnpm run prepare-publish

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: artifacts
          path: artifacts

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: artifacts
          path: artifacts

      - name: Publish
        run: node artifacts/index.js
