name: "Publish"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Prepare publish
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          cacheFrom: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          push: never
          runCmd: pnpm prepare-publish

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - name: Publish
        run: node artifacts/publisher/index.js
