name: "Publish"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-*"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Publish
        uses: devcontainers/ci@v0.3
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          imageName: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          cacheFrom: ghcr.io/${{ env.GITHUB_REPOSITORY }}/devcontainer
          push: never
          runCmd: pnpm run publish
          env: |
            NPM_TOKEN
